
<br/>
<table align="right" style="padding:10px;">
  <tr><td>Search : </td><td><input type="textsearch" class="form-control" name="searchText" id="searchText" 
  [(ngModel)]="searchText" aria-describedby="helpId" placeholder="Product Id/Name"></td></tr>
<tr></tr>
</table>

<table class="table">
  <thead>
    <tr>
      <th>PRODUCT IMAGE</th>
      <th>PRODUCT ID</th>
      <th>PRODUCT NAME</th>
      <th>PRODUCT DESC</th>
      <th>PRODUCT REVIEW</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | productSearch : searchText">
      <td><img src="{{product.productImage}}" class="imgStyle"/></td>
      <td>{{product.productId}}</td>
      <td>{{product.productName}}</td>      
      <td>{{product.productDescription}}</td>
      <td>
        <img id="1" src="../../../assets/empty.png" class="imgStyle" />
        <img id="2" src="../../../assets/empty.png" class="imgStyle" />
        <img id="3" src="../../../assets/empty.png" class="imgStyle" />
        <img id="4" src="../../../assets/empty.png" class="imgStyle" />
        <img id="5" src="../../../assets/empty.png" class="imgStyle" />
      </td>
    </tr>   
  </tbody>
</table>

