<form>
  <table align="center">
    <tr>
      <td>Name : </td><td><input type="text"/></td>
    </tr>
    <tr>
      <td>Role : </td><td>
        <select>
          <option>Admin</option>
          <option>User</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Password : </td><td><input type="password"/></td>
    </tr>
    <tr>
      <td>Confirm Password : </td><td><input type="password"/></td>
    </tr>    
    <tr>
      <td></td><td><input type="submit" value="Register"/><input type="reset" value="Reset"/></td>
    </tr>
  </table>
</form>