<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" name="loginForm">
<div class="loginDiv">
<div class="form-group" [class.has-error]="usernameControl.invalid && usernameControl.dirty">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" class="form-control" placeholder=""
   aria-describedby="helpId" [(ngModel)]="username" #usernameControl="ngModel" required>  
</div>
<span *ngIf="usernameControl.invalid && usernameControl.dirty">username required</span>
<div class="form-group" class="has-error">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" class="form-control" placeholder="" 
  aria-describedby="helpId" [(ngModel)]="password" required>  
</div>
<br/>
<button type="submit" class="btn btn-primary" ng-click="click()" [disabled]="loginForm.invalid">
  Login
</button>
<button type="reset" class="btn btn-danger" ng-click="click()">
  Reset
</button>
</div>
</form>
