<nav class="navbar navbar-default" style="background-color: #2493d4">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white">Product Review Service</span></a>
    </div>
    <ul class="nav">            
      <li *ngIf="auth.userData; else loginTemplate"><a (click)="logoutUser()" id="logout">Logout</a></li>   
      <ng-template #loginTemplate>         
      <li routerLinkActive="active"><a routerLink="/prelogin/register">Register</a></li>
      <li><a routerLinkActive="active" routerLink="/prelogin/login">Login</a></li>   
      </ng-template>
     <!--  <li><a routerLink="user">Users</a></li>
      -->
    </ul>
  </div>
</nav>